$shadow-sm: 0 0px 5px 0 rgb(0 0 0 / 0.1);

* {
  box-sizing: border-box;
}

#addTaskForm {
  padding: 3em;
  background-color: white;
  box-shadow: 0px 0px 3px grey;
  border-radius: 10px;
}

.all-task-search {
  box-shadow: $shadow-sm;
}
